# Зависимости
node_modules/
/.pnp
.pnp.js

# Артефакты сборки
dist/
dist-ssr/
build/
*.local

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Переменные окружения и секреты (храни только .env.example)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Системные файлы ОС
.DS_Store
Thumbs.db
Desktop.ini

# Конфигурации редакторов и IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Временные файлы тестов и кэш
.eslintcache
.turbo/
coverage/

# Capacitor / Мобильная сборка (на будущее, если добавишь в этот же корень)
android/app/build/
android/.gradle/
android/captures/
